.bubbles .fbDockChatTabFlyout .fbNubFlyoutBody{
	background: white;        
}

.bubbles div._kso{
	background: #0084FF;    
    color: white;
    text-shadow: none;
    border: none;
    border-radius: 2px;
  	font-family: 'Segoe UI Semilight';
}
  
.bubbles ._50kd ._kso{
	background: #E8E8E8;
	color: black;          
}

.fbNubFlyoutTitlebar {
	background: #E8E8E8;
	border: 1px solid #E8E8E8;
	border-bottom: 2px solid #E8E8E8;    
}
.fbNubFlyoutTitlebar:hover{
  	background: #E0E0E0;
	border: 1px solid #E8E8E8;
	border-bottom: 2px solid #E8E8E8; 
}
    
._50mz.focusedTab .titlebar{
	background: #DDDDDD;      
}
  
._50mz .titlebar .titlebarText{
	color: black;
  	font-family: 'Segoe UI';
  	font-size: 12px;
  	font-weight: normal;
}

.bubbles ._kso:after{
	background: none;
}
      
.bubbles ._50kd ._kso:after,.bubbles ._kso, .bubbles ._kso:before {
	background: none;
}
            
._50dw .profileLink .profilePhoto {
	border-radius: 90px;  
}
      
      ._50dw a.profileLink {
      border: none;
              border-spacing: 0;
            }

._kso ._553k {
    color: white;
    }
    
    .bubbles ._50dw .profileLink:after {
    background: none;
            }

.fbNubFlyoutBody,.fbNubFlyoutFooter{
  border: none;
  }
  
._kso .fcg {
    color: white;
}
/*ikonok*/

._50m_ .titlebar .addToThread,.titlebarButtonWrapper ._510p .button, ._50mz .titlebar .close{
	-webkit-filter: invert(50%);
    opacity: 0.5;
}
        
/*árnyék*/
        ._50mz.opened .fbDockChatTabFlyout {
        box-shadow: 0px 0px 3px #000000;
              }
        
/*NAGY CHAT*/
                    
/*._55lt img,._8o, ._8o .img{
	border-radius: 90px;
}
    
._38 p{
  background: #E8E8E8;
  border-radius: 3px;
  padding: 5px;
}*/