* {
	font-family: 'Raleway', sans-serif;
}

/* Navbar common */
.navbar {
	transition: all 0.5s ease;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	font-weight: bold;
	font-size: 9pt;
}

.dropdown-menu {
	text-transform: none;
}

body {
	padding-top: 50px;
}

.no-padding {
	padding: 0px;
}
	
/* Navbar unscrolled */
@media(min-width: 768px) {
	body.no-padding .nav-unscrolled {
		background-color: transparent;
	}
	
	body.no-padding .nav-unscrolled .navbar-header .navbar-brand {
		color: #FFFFFF;
	}
	
	body.no-padding .nav-unscrolled .navbar-nav > li > a {
		color: rgba(255, 255, 255, 0.7);
	}
	
	body.no-padding .nav-unscrolled .navbar-nav > li > a:hover {
		color: #FFFFFF;
	}
	
	body.no-padding .nav-unscrolled .navbar-nav > li.active > a,
	body.no-padding .nav-unscrolled .navbar-nav > li.active > a:hover,
	body.no-padding .nav-unscrolled .navbar-nav > .open > a
	body.no-padding .nav-unscrolled .navbar-nav > .open > a:hover {
		color: #FFFFFF;
		background: transparent;
	}
	
	body.no-padding .nav-unscrolled .navbar .in > li > a {
		color: #000;
	}
}
	
/* Navbar scrolled */
body.no-padding .nav-scrolled {
	border: 0px;
}

/* Page header */
body.no-padding header .jumbotron {
	padding: 0px;
	margin-bottom: 0px;
}

header .jumbotron {
	background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
	color: #FFFFFF;
	
	padding-top: 50px;
	padding-bottom: 50px;
	
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.58);
}

header .subtitle {
	font-size: 16pt;
}

header h4 {
	font-weight: bold;
}

/* Website notification */
.website-notification {
	position: absolute;
	bottom: 25px;
	right: 25px;
	
	background-color: rgba(0, 0, 0, 0.8);
	border: 2px solid rgba(255, 255, 255, 0.5);
	
	padding: 15px;
	
	color: #FFFFFF;
	z-index: 1000;
	
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

/* Utility classes */
.text-align-right {
	text-align: right;
}

.cut-text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media(min-width: 768px) {
	.text-align-right-xs {
		text-align: right;
	}
}

@media(max-width: 768px) {
	.text-align-right-xs {
		text-align: left;
	}
}

.text-align-center {
	text-align: center;
}

.text-align-justify {
	text-align: justify;
}

.vertical-centered {
    display: flex;
	align-items: center;
}

.full-height {
	min-height: 100%;
	height: 100vh;
}

.full-width {
	width: 100%;
}

/* Footer */
footer {
	padding-top: 15px;
	padding-bottom: 15px;
	border-top: 1px solid #EDEDED;
}

footer a.fa {
	font-size: 30px;
}

footer .social {
	margin-top: -7px;
}

footer a.fa:hover {
	text-decoration: none;
}

/* Tables */
.table-content-vertical-middle > tbody > tr > td {
    vertical-align: middle;
}

/* Login form */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}