body {
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
	background-color: #eeeeee;
	margin: 0px;
	padding: 0px;
}

#main {
	display: none;
}

#progress {
	padding-top: 40px;
}

#content {
	margin: 45px 10px;
}

#title {
	padding: 10px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	color: #FFFFFF;
	
	-moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;     
    box-sizing: border-box; 
	
	-webkit-box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 3px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 3px 5px 0px rgba(50, 50, 50, 0.75);
	
	background-color: #B30C0C;
	
	overflow: hidden;
	white-space: nowrap;
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

a.blocklink, a.blocklink:visited, a.blocklink:link {
	display: block;
	padding: 15px 5px;
	margin-bottom: 2px;
	text-decoration: none;
	color: #000000;
	border-bottom: 1px solid #C2C2C2;
	overflow: hidden;
	white-space: nowrap;
}

a.blocklink_nocenter, a.blocklink_nocenter:visited, a.blocklink_nocenter:link {
	display: block;
	padding: 5px;
	margin-bottom: 2px;
	text-decoration: none;
	color: #000000;
	border-bottom: 1px solid #C2C2C2;
	overflow: hidden;
	white-space: nowrap;
}

.blocklink_nocenter .hint {
	color: #7BAABA;
	overflow: hidden;
	white-space: nowrap;
}

a.blocklink_highlight, a.blocklink_highlight:visited, a.blocklink_highlight:link {
	display: block;
	padding: 15px 5px;
	margin-bottom: 2px;
	text-decoration: none;
	color: #FFFFFF;
	border-bottom: 1px solid #C2C2C2;
	background: #649CD9;
}

.error {
	margin-top: 15px;
	color: #A61B19;
	text-align: center;
	padding: 10px;
	border: 1px solid #A61B19;
}

.blocklink:last-of-type, .blocklink_highlight:last-of-type, .blocklink_nocenter:last-of-type {
	border-bottom: none !important;
}